<p id="notice"><%= notice %></p>

<h1>Muttees</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Mutter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @muttees.each do |muttee| %>
      <tr>
        <td><%= muttee.title %></td>
        <td><%= muttee.mutter %></td>
        <td><%= link_to 'Show', muttee %></td>
        <td><%= link_to 'Edit', edit_muttee_path(muttee) %></td>
        <td><%= link_to 'Destroy', muttee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Muttee', new_muttee_path %>
